/*
  Josh's Custom CSS Reset
  https://www.joshwcomeau.com/css/custom-css-reset/
*/

@font-face {
    font-family: 'Norse';
    src: url('./fonts/Norse-Bold.woff2') format('woff2'),
        url('./fonts/Norse-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

* {
    margin: 0;
}

@media (prefers-reduced-motion: no-preference) {
    html {
        interpolate-size: allow-keywords;
    }
}

html, body{
    height: 100%;
}

body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
}

img,
picture,
video,
canvas,
svg {
    display: block;
    max-width: 100%;
}

input,
button,
textarea,
select {
    font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
    overflow-wrap: break-word;
}

p {
    text-wrap: pretty;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    text-wrap: balance;
}

#root,
#__next {
    isolation: isolate;
}

main{
    display: flex;
}

.photoPart, .formPart{
    width: 100%;
    height: 100vh;
}

.photoPart{
    background: url("./assets/djordje-djordjevic-LPTQ4ZZnUSA-unsplash.jpg") no-repeat;
    background-size: cover;
    position: relative;
    width: 40%;
}

.photoPart .logo{
    background-color: #222;
    padding: 1rem 0;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    position: absolute;
    top: 15%;
    opacity: 80%;
    width: 100%;
}

.photoPart .logo img {
    width: 5rem;
}

.photoPart .logo h1{
    color: #FFF;
    font-family: 'Norse', serif;
    font-size: 5rem;
}